APP_NAME=CloseScreen
BUNDLE_ID=io.github.pjyqifei02.closescreen

APPLE_ID=
TEAM_ID=
SIGN_IDENTITY="Developer ID Application: Samir Patil ()"
CSC_NAME="Samir Patil ()"

NOTARY_PROFILE=CloseScreen-notary
APPLE_APP_SPECIFIC_PASSWORD=
